/**
 * @file
 * Admin styles for CKEditor 5 Clean Text Styles plugin.
 */
.ckeditor5-toolbar-button-cleanStyle,
[data-cke-tooltip-text="Clean Text Styles"],
[data-drupal-ckeditor5-button-name="cleanStyle"]::before {
  display: inline-block;
  width: 100%;
  height: 100%;
  content: " ";
  /* Brush icon by https://pictogrammers.com/contributor/Templarian/ */
  background-image: url("../images/clean-text-styles.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px 16px !important;
}
